# Ignore folders
/Library/
/Temp/
/Logs/
/obj/
/UserSettings/

# Ignore project files
*.csproj
*.unityproj
*.sln

# Ignore build outputs
/Build/
/Builds/

# Ignore IDE-specific files
.idea/
.vs/

# Ignore other system files
.DS_Store
Thumbs.db

AppData/
*.tmp
*.log

# System files
/3D Objects/
/Contacts/
/Creative Cloud Files/
/DC/
/Desktop/
/Documents/
/Downloads/
/Favorites/
/Links/
/Music/
/Pictures/
/Saved Games/
/Searches/
/Videos/
/Anaconda3/
/AppData/
/Local Settings/
/MicrosoftEdgeBackups/
/NTUSER.*
/ntuser.*
/node_modules/

# IDE and editor directories
/.vscode/
/.idea/
/.PycharmProjects/

# Cache files
/.cache/
/.conda/
/.config/
/.continuum/
/.dotnet/
/.nuget/
/.oracle_jre_usage/

# Log files
*.log
*.LOG1
*.LOG2

# Others
/node_modules/
/package-lock.json
*.xml
*.png
*.html

AppData/
OneDrive - bluetreecapital.co.nz/
/Local Settings/
/My Documents/
/*/


